# Reto 1:

---

## Ejercicio 1: Variables

Crea una variable llamada `titulo_libro` y asignale el libro que más te guste

In [ ]:
titulo_libro = "El laberinto de los espíritus"

Crea una variable llamada `numero_suerte` y asignale tu número de la suerte

In [ ]:
numero_suerte= 4

Crea una variable llamada `suma_edades` y coloca la suma de las edades de los integrantes de equipo y al final manda a imprimir la variable con `print()`

In [13]:
edad_1 = int(input('Digite la edad_1'))
edad_2 = int(input('Digite la edad_2'))
edad_3 = int(input('Digite la edad_3'))
suma_edades= edad_1 + edad_2 + edad_3

print(suma_edades)

60

## Ejercicio 2: Suma de variables

Escogan 3 números aleatorioamente entre 100 y 1000 en equipo y asignenlos a `valor1`, `valor2` y `valor3`

In [ ]:
valor1 = 333
valor2 = 222
valor3 = 568

Ahora imprimir la suma de `valor1` con `valor3`

In [8]:
valor1 = 333
valor2 = 222
valor3 = 568

suma = valor1 + valor3
print(suma)

901

La resta de `valor2` menos `valor3`

In [9]:
valor1 = 333
valor2 = 222
valor3 = 568

resta = valor2 - valor3
print(resta)

-346

La multiplicación entre `valor1` y `valor2`

In [10]:
valor1 = 333
valor2 = 222
valor3 = 568

multiplicacion = valor1 * valor2
print(multiplicacion)

73926

## Ejercicio 3: Format

Con la variable `suma_edades` que hiciste en el Ejercicio 1, deberas meterla en un print de tal manera que salga de esta manera el mensaje:

**La suma de las edades de Juan, María y Pablo es de 45 años**

Cambia los nombres, por los integrantes del equipo

In [18]:
edad_1 = 10
edad_2 = 20
edad_3 = 15
suma_edades= edad_1 + edad_2 + edad_3

print("La suma de edades de Juan, María y Pablo es de", suma_edades ,"años")

La suma de edades de Juan, María y Pablo es de 45 años

Crea 3 varaibles, `ancho_terreno`, `largo_terrero` y `area_terreno`. 

Al ancho le asignaras 25 y al largo 30

Sacaras el área con la formula Ancho x Alto y lo asiganaras a `area_terreno`.

Imprime un mensaje en format que se vea de la siguiente manera, utilizando las variables

**El área del terreno con un ancho de 25 mts y de largo 30 mts, es de: 750 mts cuadrados**

In [20]:
ancho_terreno = 25
largo_terreno = 30
area_terreno = ancho_terreno * largo_terreno
print("El área del terreno con un ancho de 25 mts y de largo 30 mts, es de:" , area_terreno, "mts cuadrados")

El área del terreno con un ancho de 25 mts y de largo 30 mts, es de: 750 mts cuadrados

## Ejercicio 4: Input

Crea una variable llamada `nombre` donde le asiganaras un input que diga "*Dame tu nombre*".

Crea una variable llamada `edad` donde le asignaras un input(dentro de un int) que diga "*Dame tu edad*".

Manda a imprimir un format que diga:

**"Su nombre es: ____ y su edad es de ___ años"**

Todo en la misma celda

In [23]:
nombre = input("Dame tu nombre")
edad = int(input("Dame tu edad"))
print("Su nombre es",nombre, "y su edad es de", edad, "años")

Su nombre es Sofia y su edad es de 18 años

## Extra Points

Crea una variable llamada `total` y le asignaras un input númerico que diga "*Dame un número*".

Crea una varaible llamada `porcentaje` y le asignaaras un input númerico que diga "*¿Qué porcentaje quieres sacar*"

Crea una variable llamada `resultado` donde haras el calculo del porcentaje del número con las variables `total` y `porcentaje` 

Manda a imprimir un format que diga 

**El ___ % de ____ es de ____**

Todo en una misma celda